{% extends "layout.html" %}

{% block content %}
<head></head>
{% for group in grupos %}
    <div>
    	<p><a href="/grupo{{ group.get_absolute_url }}">{{group.nombre_grupo}}</a>
    	</p>
    </div>
{% endfor %}
{% for posts in publicacion %}
    <div>
    	<p>{{ posts.titulo }}</p>
        <p>publicada en: {{ posts.fecha_publicacion }}</p>
        <p>{{ posts.texto|linebreaks }}</p>
    </div>
{% endfor %}
{% endblock %}

   
    <div>
    	
        <!-- <p>publicada en: {{ publicacion.fecha_publicacion }}</p>
        <p>{{ publicacion.text|linebreaks }}</p> -->
    </div>
    

